@import-normalize;

/* Fonts */

/* Fivo Sans Modern */
@font-face {
	font-family: "FivoSansModernRegular";
	src: url(../fonts/FivoSansModern/FivoSansModern-Regular.otf);
}

@font-face {
	font-family: "FivoSansModernBold";
	src: url(../fonts/FivoSansModern/FivoSansModern-Bold.otf);
}

@font-face {
	font-family: "FivoSansModernHeavy";
	src: url(../fonts/FivoSansModern/FivoSansModern-Heavy.otf);
}

@font-face {
	font-family: "FivoSansModernMedium";
	src: url(../fonts/FivoSansModern/FivoSansModern-Medium.otf);
}

@font-face {
	font-family: "FivoSansModernExtraBlack";
	src: url(../fonts/FivoSansModern/FivoSansModern-ExtBlack.otf);
}
/* Sporting Grotesque */
@font-face {
	font-family: "SportingGrotesque";
	src: url(../fonts/SportingGrotesque/SportingGrotesque-Regular.otf);
}

@font-face {
	font-family: "SportingGrotesqueBold";
	src: url(../fonts/SportingGrotesque/SportingGrotesque-Bold.otf);
}

/* IBM Plex Sans */
@font-face {
	font-family: "IBM-PlexSans";
	src: url(../fonts/IBM-PlexSans/IBMPlexSans-Regular.ttf);
}

@font-face {
	font-family: "IBM-PlexSansBold";
	src: url(../fonts/IBM-PlexSans/IBMPlexSans-SemiBold.ttf);
}


/* General style */
body {
	max-width: 100%;
}

.transitioned-element {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
  }

.titel {
    background-color: var(--mainColorLight);
    color: var(--mainColor);
    display: block;
    width: max-content;
    text-transform: uppercase;
    margin: 15px auto;
    font-size: 16pt;
    padding: 5px 10% 2px 10%;
}

.tekst {
    padding: 0 3%;
    word-spacing: 2px;
    font-family: "FivoSansModernRegular";
    margin-top: 0.5rem;
}

.banner-image {
    width: 100%;
    margin: auto;
    display: block;
	border-bottom: #e3e3db solid 3px;
}

:any-link, :any-link:focus{
    text-decoration: none;
    color:var(--textColor);
}

:any-link:hover {
	color: #6BBF87;
}

/* .center {
    border: 5px solid;
    margin: auto;
    max-width: 30%;
  } */

/* HEADER */
* {
	font-family: "FivoSansModernBold";
	background-color: var(--mainColor);
    ;
}

:root {
	--mainColor: #212121;
	--mainColorLight: #fffef4;
	--textColor: #fffef4;
}

.headerCont {
	background-color: var(--mainColor);
	color: var(--textColor);
}

.Row {
	max-width: 100%;
}

.headerRow {
	height: auto;
	border-bottom: #e3e3db solid 3px;
}

.logoCol {
	padding: 0;
	/* height: 11vh; */
}

.menuCol {
	padding: 0;
	background-color: transparent;
}

.mainLogo {
}

.mainLogo > img {
	padding: 0;
	margin: 1rem 0 0.5rem -0.7rem;
	width: 110%;
	background-color: transparent;
	/* height: 100%; */
	/* object-fit: contain; */
}

/* sidebar Nav */
.deskMenuNavButton{
	padding: 5px 0;
	white-space: nowrap;
	font-size: 9pt;
}

.navBar {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: transparent	;
	z-index: 200;
}

.navBar button {
	right: 40px;
	top: 40px;
	margin-top: 1rem;
	/* z-index: 10; */
	cursor: pointer;
	width: 100%;
	height: 50%;
	border: none;
	background-color: transparent;
}

.menuNav {
	background: var(--mainColorLight);
	position: absolute;
	top: 100%;
	right: 0;
	min-width: 70vw;
	max-width: 30vw;
	display: none;
	list-style-type: none;
	padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.menuNav.showMenu {
	display: block;
}

.menuNav li,
h2 {
	background-color: var(--mainColorLight);
	color: var(--mainColor);
}

.menuNav a {
	text-decoration: none;
	line-height: 1.7rem;
	background-color: var(--mainColorLight);
	color: var(--mainColor);
	margin: 2rem 2rem;
}

.menuNav h2 {
	font-size: 25pt;
	line-height: 1.5rem;
	padding: 0.5rem 0 0 0;
}

.hamburger {
	width: 100%;
	height: 100%;
	transform: scale(1.5, 1);
	color: var(--mainColorLight);
	background-color: transparent;
}

/* HEADER RESPONSIVE */
/* Desktop small header*/
@media screen and (min-width: 992px) {
	.headerRow > :first-child,
	.contentRow > :first-child {	
		border-right: #e3e3db solid 3px;
		padding-left: 3vw;
	}

	.mainLogo > img {
		padding: 0.2rem;
	}

	.headerRow {
		height: 100%;
	}

	.contentRow {
		height: 100vh;
	}

	.deskMenuNavButton {
		border: none;
		text-decoration: none;
		color: var(--textColor);
		background-color: transparent;
	}

	.deskNavBar {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	.dropdown {
		display: block;
		width: 20%;
		z-index: 20;
	}

	.dropdown.active {
		/* border: var(--mainColorLight) solid 1px; */
		z-index: 30;
	}

	.dropdown-group {
		position: absolute;
		list-style-type: none;
		padding: 0 20px 5px 10px;
		/* margin-top: 10px ; */
		width: fit-content;
		/* line-height: 2rem; */
		/* background-color: transparent; */

	}

	.dropdown-group li {
		padding: 5px 0;
		white-space: nowrap;
	}

	.dropdown-group.active {
		display: block;
		/* visibility: visible; */
		border: var(--mainColorLight) solid 1px;
		/* background-color: var(--mainColor); */
		z-index: 30;
	}

	.dropdown-group.active * {

	}

	.dropdown-group a {
		text-decoration: none;
		color: var(--mainColorLight);
	}

	.deskMenuNavButton{ 
		font-size: 10pt;
	}
}

/* Desktop medium header*/
@media screen and (min-width: 1280px){
	.headerRow > :first-child,.contentRow > :first-child {	
		padding-left: 4vw;
		padding-right: 1vw;
	}

	.deskMenuNavButton{ 
		font-size: 11pt;
	}

	.deskNavBar {
		padding-right: 10%;
	}
}

/* Full HD Desktop header */
@media screen and (min-width: 1920px){
	.headerRow > :first-child,.contentRow > :first-child {	
		padding-left: 10vw;
	}

	.deskMenuNavButton{ 
		font-size: 12pt;
	}

	.deskNavBar {
		padding-right: 15%;
	}
}

/* 2K Desktop Header */
@media screen and (min-width: 2560px){
	.deskMenuNavButton{ 
		font-size: 15pt;
	}

	.deskNavBar {
		padding-right: 20%;
	}
}

/* 4K Desktop Header */
@media screen and (min-width: 3840px){
	.deskNavBar {
		padding-right: 30%;
	}
}



/* BODY */
/* Mobile Banner */
.mobileBanner {

	height: 40vh;
	width: 100vw;
	background-position: center;
	background-size: cover;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;

	border-bottom: #e3e3db solid 3px;
}

.mobileBanner ul,
.mobileBanner li {
	background: transparent;
	padding: 0;
}

.mobileBanner ul {
	list-style-type: none;
	text-align: center;
}

.mobileBanner li {
	display: block;
	color: var(--textColor);
	border: var(--textColor) solid 2px;
	margin: 10px 0;
	padding: 10px 20vw;

	position: relative;
	/* border-radius: 100px; */
}

.banner-link{
	background: transparent;
	-webkit-text-stroke: 0.2px black;
}

.double-border {
	border: var(--textColor) double 20px;
	/* border-style: double; */
}

.bodyCont {
	color: var(--textColor);
}

/* Artikel */
.artikel-image {
    max-width: 90%;
    margin: 10px auto;
    display: block;
}

/* Film */
.film-subtekst {
    color: var(--textColor);
    font-family: "FivoSansModernRegular";
	line-height: 14pt;
	padding: 0;
	margin-bottom: 0.5rem;
}

.film-titel {
	background-color: transparent;
	color: var(--textColor);
	margin: 1% 0;
	display: block;
	font-family: "FivoSansModernExtraBlack";
	line-height: 18pt;
	text-transform: uppercase;
}

.film-details {
	padding: 2% 3% 0 3%;
}

/* Programma */
.programma-subtekst {
    color: var(--textColor);
    font-family: "FivoSansModernRegular";
	margin: 0;
}

.progfilm-banner-image {
	padding-top: 1rem;
	width: 100%;
    margin: auto;
    display: block;
}

.programma-details {
	border-bottom: #e3e3db solid 2px;
	padding: 2% 5%;
}

/* Films */
.films-container {
	border-bottom: #e3e3db solid 2px;
	padding:0;
	margin: 0;
	height: 90px;
	width: 100%;
	display: grid;
	grid-template-columns: 40% auto;
	box-sizing: border-box;
	overflow: hidden;
}

.top-border {
	border-top: #e3e3db solid 2px; 
	/* Doesn't work? */	
}

.films-container img{
	border-right: #e3e3db solid 2px;
	width: 100%;
	height: 90px;
}

.films-details {
	padding: 7px 5px;
	margin: 0;
	width: 100%;
	height: 90px;
	overflow: hidden;

}

.films-details-title {
	font-size: 12pt;
	padding:0;
	margin: 0;
}

.films-details p{
	font-size: 9pt;
	padding: 0 5px;
	margin:0;
	font-family: "FivoSansModernRegular";
}

/* Programmas */
/* .programmas {
	margin: 8% 0;
} */

.progs-container{
	min-height: 150px;
	width: 100%;
	margin: 3px 0 15px 0;
	display: grid;
	grid-template-columns: 40% auto;
	overflow: hidden;
}

.progs-image img {
	object-fit: cover;
	height: 130px;
	width: 100%;
	border-top: #e3e3db solid 2px;
	border-bottom: #e3e3db solid 2px;
	border-right: #e3e3db solid 2px;

}

.progs-details {
	padding: 0 25px;
}

.progs-details h3 {
	font-size: 15pt;
	text-transform: uppercase;
	line-height: 90%;
	padding:0;
	margin: 0 0 5px 0;
}

.progs-details p {
	font-size: 11pt;
	padding: 0 2px;
	margin:0;
	line-height: 100%;
	font-family: "FivoSansModernRegular";
}

/* Filmtimes */
.filmtimes-container {
	margin: 0 3%;
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	width: auto;
}

.filmtimes-title {
	border: #e3e3db solid 1px;
	font-size: 9pt;
	padding: 9px 10px;
	margin: 0;
	height: 40px;
	line-height: 24px;

}

.filmtimes-slot {
	background-color: var(--mainColorLight);
	border: var(--mainColor) solid 0.5px;
	color: var(--mainColor);
	font-family: "IBM-PlexSansBold";
	padding: 0 5px;
	margin: 0;
	height: 40px;
	line-height: 40px;
	font-size: 15pt;
}

.filmtimes-day {
	margin: 5px;
}

/* Timetable */
.date-picker {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.vandaag-button {
	border: var(--mainColorLight) solid 0.5px;
}

.dropdowndates-group {
	position: absolute;
	list-style-type: none;
	background-color: var(--mainColorLight);
	width: 50%;
	padding: 0;
	margin:0;
}

.datePickerButton{
	border: var(--mainColorLight) solid 0.5px;
	background-color: var(--mainColorLight);
	color: var(--mainColor);
}

.vandaag-button, .datePickerButton {
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: "FivoSansModernMedium";
	font-size: 20pt;
	padding:0;
	margin: 0;
}

.dateButton {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	height: 100%;
	padding: 10px;
	background-color: var(--mainColorLight);
	border: var(--mainColor) solid 0.5px;
}

.dateButton > p {
	background-color: var(--mainColorLight);
	color: var(--mainColor);
	padding:0;
	margin: 0;
}

.left-text {
	text-align: left;
	font-size: 14pt;
}

.right-text {
	text-align: right;
	font-size: 11pt;
}

.timetable-accordion {
	margin-top: 30px;
}

.timetable-accordion-title {
	border-bottom: var(--textColor) solid 5px;
	font-family: "FivoSansModernMedium";
	line-height: 100%;
	width: 94%;
	margin: 20px 3%;
	font-size: 20pt;
}

.timetable-accordion-show {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	margin: 0 3%;
}

.timetable-accordion-show > * {
	font-family: "FivoSansModernRegular";
}

.accordion-ticket-link {
	border-top: var(--mainColorLight) solid 1px;
	border-left: var(--mainColorLight) solid 1px;
	padding: 2px 0 0 7px;
	height: 25%;
}

/* Intern */
.calendar {
	width: 100%;
	display: block;
	height: 500px;
	margin: auto;
	padding: 10px 0;
}
.password-prompt {
	color: white;
}

.intern button {
	color: white;
} 

.logout-button {
	margin: 10px;
}
.intern-files {
	padding: 20px;
}


.intern a {
	display: block;
}


.intern > section > section {
	padding-bottom: 15px;
}
	

/* Portrait tablet and large phone Body*/
@media screen and (min-width: 600px){
	/* TO DO: Films, Progs en Prog schalen */
}

/* Landscape tablet Body*/
@media screen and (min-width: 768px){
	
}

/* Desktop Small Body */
@media screen and (min-width: 992px) {
	/* General */
	.body-container {
		width: 90%;
	}




	.banner-image {
		width: 100%;
		max-height: 400px;
		box-sizing: border-box;
		margin: 10px 0 0 -6px;
		padding: 0;
		display: block;
		border: #e3e3db solid 1px;
		object-fit: cover;
		background-position: center;
	}

	/* Timetable */
	.desktop-titel {
		background-color: var(--mainColor);
		color: var(--mainColorLight);
		border: var(--mainColorLight) solid 1px;
		display: block;
		width: max-content;
		text-transform: uppercase;
		margin: 15px auto;
		font-size: 16pt;
		padding: 5px 10% 2px 10%;
	}

	.timetable-accordion-title {
		font-size: 14pt;
	}

	.timetable-accordion-show > * {
		font-size: 9pt;
	}

	/* Films */

	.desktop-films-titel-wrapper>.desktop-titel{
		font-size: 30pt;
		padding: 6px 25px 4px 25px;
	}

	.desktop-films-titel-wrapper{
		width: 100%;
	}
	 .desktop-films-wrapper{
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		margin: 20px 0;
	 }

	 .films-container {
		height: 210px;
		width: 100%;
		border: var(--mainColorLight) solid 1px;
		background-size: cover;
		background-position: center;
		position: relative;
	 }

	 .films-details {
		opacity: 0%;
		height: 100%;
		background-color: transparent;
		background-size: cover;
		position: absolute;
		display: flex;
  		flex-wrap: wrap;
		align-content: center;
	 }

	 .films-details * {
		width: 100%;
		text-align: center;
		background-color: transparent;
		color: var(--mainColor);
		line-height: 90%;
	 }

	 .films-details-title {
		font-size: 20pt;
		font-family: "FivoSansModernHeavy";
		text-transform: uppercase;
	 }

	 .films-container:hover > .films-details {
		opacity: 100%;
		background-color: var(--mainColorLight);
		transition: 0.3s;
	 }

	 /* Filmprogrammas */
	 .progs-image img {
		border: #e3e3db solid 1px;
		height: 225px;
	 }

	 .progs-container {
		height: auto;
		padding: 0 0 15px 15px;
		grid-template-columns: 50% auto;
	 }

	 .progs-details h3 {
		font-size: 25pt;
	}
	
	.progs-details p {
		font-size: 13pt;
		padding: 0 2px;
		margin:0;
		line-height: 150%;
		font-family: "FivoSansModernRegular";
	}

	.desktop-programmas-titel {
		padding: 6px 25px 4px 25px;
		margin-bottom: 25px;
	}

	/* .programmas {
		margin: 0 0 5% 0;
	} */

	/* Film */
	/* Filmtimes */
	.filmtimes-container {
		width: 100%;
		margin: 0 0 1% 0;
	}

	/* Programma */
	.progfilm-container {
		margin-top: 3rem;
	}
	.film-titel {
		padding: 0;
		margin: 10px 0 5px 0;
		font-size: 35pt;
		width: 70%;
		line-height: 80%;
	}

	.film-details {
		padding: 1%;
	}

	.programma-details {
		padding: 0 0 0 6px;
		margin: 0 -12px;
	}

	.programma-subtekst {
		font-size: 25pt;
	}

	.tekst {
		padding: 0;
		margin: 5px 0 15px 0;
		width: 100%;
	}

	.progfilm-banner-image {
		width: 100%;
		max-height: 400px;
		margin: 10px 0 0 -6px;
		padding: 0 0 0 0;
		display: block;
		border: #e3e3db solid 1px;
		object-fit: cover;
	}
	
	/* Intern */
	.intern-files {
		column-count: 2;
	}

	.calendar {
		height: 650px;
	}

	
	/* Lettertypen / Fonts */

	.monoFont {
		font-family: "IBM-PlexSans";
	}	
	
	.monoFontBold {
		font-family: "IBM-PlexSansBold";
	}

	.sporting {
		font-family: "SportingGrotesque";
	}

	.sportingBold {
		font-family: "SportingGrotesqueBold";
	}



	
}

/* Desktop Medium Body*/
@media screen and (min-width: 1280px){
	.body-container {
		width: 80%;
	}
}

/* Full HD Desktop Body*/
@media screen and (min-width: 1920px){
	.body-container {
		width: 70%;
	}

	.intern-files {
		column-count: 3;
	}

	.calendar {
		height: 800px;
	}
}

/* 2K Desktop Body */
@media screen and (min-width: 2560px){
	.body-container {
		width: 60%;
	}

	.films-container {
		height: 260px;
	}
}

/* 4K Desktop Body*/
@media screen and (min-width: 3840px){
	.body-container {
		width: 50%;
	}

	.films-container {
		height: 300px;
	}
}
